<!-- Imports polymer -->
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/fishLocation.html">

<!-- Defines element markup -->
<dom-module id="fish-component">
    <template>
        <style>

            :host {
                border: 1px solid #ccc;
                cursor: pointer;
                display: inline-block;
                height: 4em;
                width: 8em;

                margin: 0.5em;
                position: relative;
                text-align: center;
                vertical-align: top;
                word-wrap: break-word;
            }
            .locations {
                background: #fff;
                border: 1px solid #ccc;
                box-shadow: 2px 2px 2px #666;
                display: none;
                padding: 0.5em;
                position: absolute;
                z-index: 2;
                top: 2em;
                left: 1em;
            }
            :host:hover .locations {
                display: block;
            }
        </style>

        <span>{{name}}</span>
        <div class="locations">
            <template is="dom-repeat" items="{{locations}}">
                <fish-location-component
                    time="{{item.time}}"
                    location="{{item.location}}"
                    weather="{{item.weather}}"
                    fall="{{item.fall}}"
                    spring="{{item.spring}}"
                    summer="{{item.summer}}"
                    winter="{{item.winter}}"></fish-location-component>
            </template>
        </div>
    </template>
</dom-module>

<!-- Registers custom element -->
<script>
    Polymer({
        is: 'fish-component',
        properties: {
            name: String,
            locations: Array
        }
    });
</script>