<!-- Imports polymer -->
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/fish.html">

<!-- Defines element markup -->
<dom-module id="fish-tank-component">
    <template>
        <style>
            label {
                border: 1px solid #efefef;
                padding: 2px;
                cursor: pointer;
            }
        </style>

        <div>
            <label>Spring <input checked="{{isSpring::change}}" type="checkbox"></label>
            <label>Summer <input checked="{{isSummer::change}}" type="checkbox"></label>
            <label>Fall <input checked="{{isFall::change}}" type="checkbox"></label>
            <label>Winter <input checked="{{isWinter::change}}" type="checkbox"></label>
        </div>
        <template is="dom-repeat"
                  items="{{fishes}}"
                  as="fish"
                  filter="{{computeFilter(isSpring, isSummer, isFall, isWinter)}}">
            <fish-component name="{{fish.name}}" locations="{{fish.locations}}"></fish-component>
        </template>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'fish-tank-component',
        properties: {
            fishes: Array,
            isSpring: {
                value: false,
                notify: true
            },
            isSummer: {
                value: false,
                notify: true
            },
            isFall: {
                value: false,
                notify: true
            },
            isWinter: {
                value: false,
                notify: true
            }
        },
        computeFilter: function(isSpring, isSummer, isFall, isWinter) {

            let isFilteringSeason = (isSpring || isSummer || isFall || isWinter);
            if (!isFilteringSeason) {
                // If we aren't filtering anything, return null, which returns the full set.
                return null;
            }

            return function (fish) {
                return fish.locations.some(function({ summer, winter, fall, spring }) {

                    let inSeason = (summer && isSummer) || (winter && isWinter) || (fall && isFall) || (spring && isSpring);

                    if (inSeason) {
                        return true;
                    }

                    return false;
                });
            }
        }
    });
</script>