<!DOCTYPE html>
<html>
  <head>
    <title>Stardew Fish List</title>
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Stardew FishList</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
