<!-- Imports polymer -->
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="./fish.html">

<!-- Defines element markup -->
<dom-module id="fish-tank-component">
    <template>
        <style>
            :host {

            }
            .labels {
                background: #efefef;
                border: 1px solid #999;
                margin-bottom: 1rem;
                padding: 0.5rem;
            }
            fieldset {
                border: 1px solid #ccc;
                display: inline-block;
            }
            input {
                display: none;
            }
            label {
                padding: 1rem;
                cursor: pointer;
                display: inline-block;
            }
            input:checked + label {
                background: #fff;
                font-weight: bold;
            }
            .wrapper {
                background: #62584B;
                display: block;
                padding: 0.5em;
            }
            .tank {
                background: #307AAD;
                box-shadow: 0px 3px 3px 2px #333 inset;
                padding: 0.5rem;
                text-align: center;
            }
        </style>

        <div class="labels">
            <fieldset>
                <input id="isSpring" checked="{{isSpring::change}}" type="checkbox" />
                <label for="isSpring">Spring</label>
                <input id="isSummer" checked="{{isSummer::change}}" type="checkbox" />
                <label for="isSummer">Summer</label>
                <input id="isFall" checked="{{isFall::change}}" type="checkbox" />
                <label for="isFall">Fall</label>
                <input id="isWinter" checked="{{isWinter::change}}" type="checkbox">
                <label for="isWinter">Winter</label>
            </fieldset>
            <fieldset>
                <input id="isSunny" checked="{{isSunny::change}}" type="checkbox" />
                <label for="isSunny">Sunny</label>
                <input id="isRainy" checked="{{isRainy::change}}" type="checkbox">
                <label for="isRainy">Raining</label>
            </fieldset>
        </div>
        <div class="wrapper">
            <div class="tank">
                <template is="dom-repeat"
                          items="{{fishes}}"
                          as="fish"
                          filter="{{computeFilter(isSpring, isSummer, isFall, isWinter, isSunny, isRainy)}}">
                    <fish-component
                        on-click="toggleFish"
                        id="{{fish.id}}"
                        name="{{fish.name}}"
                        rotated="{{fish.rotated}}"
                        caught="{{fish.caught}}"
                        locations="{{fish.locations}}"></fish-component>
                </template>
            </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'fish-tank-component',
        properties: {
            fishes: {
                type: Array,
                notify: true
            },
            isSpring: {
                value: false,
                notify: true
            },
            isSummer: {
                value: false,
                notify: true
            },
            isFall: {
                value: false,
                notify: true
            },
            isWinter: {
                value: false,
                notify: true
            },
            isRainy: {
                value: false,
                notify: true
            },
            isSunny: {
                value: false,
                notify: true
            }
        },
        toggleFish: function(event) {

            let id = event.currentTarget.id;
            let updateIndex = 0;
            let fish = this.fishes.find(function(fish, index){
                updateIndex = index;
                return (fish.id === id);
            });
            let update = 'fishes.' + updateIndex + '.caught';
            this.set(update, !fish.caught);

        },
        computeFilter: function(isSpring, isSummer, isFall, isWinter, isSunny, isRainy) {

            let isFilteringSeason = (isSpring || isSummer || isFall || isWinter);
            let isFilteringWeather = isSunny !== isRainy;
            if (!isFilteringSeason && !isFilteringWeather) {
                // If we aren't filtering anything, return null, which returns the full set.
                return null;
            }

            return function (fish) {
                return fish.locations.some(function({ summer, winter, fall, spring, weather }) {

                    let inSeason = (summer && isSummer) || (winter && isWinter) || (fall && isFall) || (spring && isSpring) || !isFilteringSeason;
                    let inWeather = (isSunny && weather === 'Sunny') || (isRainy && weather === 'Rainy') || !isFilteringWeather;


                    return inSeason && inWeather;
                });
            }
        }
    });
</script>