<!-- Imports polymer -->
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="./fish.html">

<!-- Defines element markup -->
<dom-module id="fish-tank-component">
    <template>
        <style>
            :host {

            }
            .labels {
                background: #efefef;
                border: 1px solid #999;
                padding: 0.5em;
            }
            label {
                padding: 2px;
                cursor: pointer;
            }
            .wrapper {
                background: #62584B;
                display: block;
                padding: 0.5em;
            }
            .tank {
                background: #307AAD;
                box-shadow: 0px 3px 3px 1px #333 inset;
                padding: 0.5em;
                text-align: center;
            }
        </style>

        <div class="labels">
            <label>Spring <input checked="{{isSpring::change}}" type="checkbox"></label>
            <label>Summer <input checked="{{isSummer::change}}" type="checkbox"></label>
            <label>Fall <input checked="{{isFall::change}}" type="checkbox"></label>
            <label>Winter <input checked="{{isWinter::change}}" type="checkbox"></label>
        </div>
        <div class="wrapper">
            <div class="tank">
                <template is="dom-repeat"
                          items="{{fishes}}"
                          as="fish"
                          filter="{{computeFilter(isSpring, isSummer, isFall, isWinter)}}">
                    <fish-component id="{{fish.id}}" name="{{fish.name}}" locations="{{fish.locations}}"></fish-component>
                </template>
            </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'fish-tank-component',
        properties: {
            fishes: Array,
            isSpring: {
                value: false,
                notify: true
            },
            isSummer: {
                value: false,
                notify: true
            },
            isFall: {
                value: false,
                notify: true
            },
            isWinter: {
                value: false,
                notify: true
            }
        },
        computeFilter: function(isSpring, isSummer, isFall, isWinter) {

            let isFilteringSeason = (isSpring || isSummer || isFall || isWinter);
            if (!isFilteringSeason) {
                // If we aren't filtering anything, return null, which returns the full set.
                return null;
            }

            return function (fish) {
                return fish.locations.some(function({ summer, winter, fall, spring }) {

                    let inSeason = (summer && isSummer) || (winter && isWinter) || (fall && isFall) || (spring && isSpring);

                    if (inSeason) {
                        return true;
                    }

                    return false;
                });
            }
        }
    });
</script>