<link rel="import" href="./fishLocation.html">

<!-- Defines element markup -->
<dom-module id="fish-component">
    <template>
        <style>

            :host {
                cursor: pointer;
                display: inline-block;
                height: 5em;
                width: 8em;

                margin: 0.5em;
                position: relative;
                text-align: center;
                vertical-align: top;
                word-wrap: break-word;
            }
            .fishImg {
                display: block;
                margin: 0 auto;
            }
            .locations {
                background: rgba(255,255,255,0.9);
                border: 1px solid #ccc;
                box-shadow: 2px 2px 2px #666;
                display: none;
                position: absolute;
                z-index: 2;
                top: 3em;
                left: 1em;
            }

            :host:hover {
                background: rgba(0,0,0,0.2);
            }
            :host:hover .locations {
                display: block;
            }
        </style>

        <img class="fishImg" src="./images/fish/{{id}}.png" />
        <span>{{name}}</span>
        <div class="locations">
            <template is="dom-repeat" items="{{locations}}">
                <fish-location-component
                    time="{{item.time}}"
                    location="{{item.location}}"
                    weather="{{item.weather}}"
                    fall="{{item.fall}}"
                    spring="{{item.spring}}"
                    summer="{{item.summer}}"
                    winter="{{item.winter}}"></fish-location-component>
            </template>
        </div>
    </template>
</dom-module>

<!-- Registers custom element -->
<script>
    Polymer({
        is: 'fish-component',
        properties: {
            id: Number,
            name: String,
            locations: Array
        }
    });
</script>